header.header(style="z-index: 20")
  .logo
    img(src='https://icms-image.slatic.net/images/ims-web/458d4688-ae26-4e6d-8f39-c26194de228a.png' width='35%' alt='' onclick="window.location.assign(`/`)" style="cursor: pointer;")


  nav.navBar
    li.account(style="list-style: none; margin-right: 2rem;")
      if !user
        a(href='' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;") 
      else if user
        span#userid(style="display:none;")= user.id
        if user.role === 'admin'
          a#for-admin-only(href='/dashboard-arrived' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;") Admin Pannel
    div
      .content-border
        input#search(type='text' name='search' placeholder='search' style='outline: none; border: transparent; padding-left: 1rem;')
        button#search-button.button(style='cursor: pointer; height: 100%; width: fit-content; padding: 0 .5rem 0 .5rem;')
          i.bi.bi-search
    ol(style="margin-bottom: 0;")
      li
        a(href='/design' style="margin-left: 2rem; color:#ff3f6c; font-family: 'Montserrat', sans-serif;") Design
      li.account.display-logout-btn
        if user
          a#loged-in(style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;")= user.name 

      li.cart
        div(style="display: flex; align-items: center;" )
          a.add-cart(href='/add-to-cart')
            div(class="bulb" style="border-radius: 5rem; margin-right:1rem;")
              i.bi.bi-bag
          if user
            div#logout.Logout(style="cursor: pointer; text-align: center;  color:#ff3f6c; backgroundColor: #f3f6f9;" onclick="logout()") Log Out
          if(!user)
            a(href='/login' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;") Login 

  .mobile-nav(style="margin-right: 12px;")
    .add-cart(style="margin-right: 12px;")
      i.bi.bi-bag
    if(!user)
      a(href='/login' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;") Login 

//-  display only clicked
if user
  if user.role === 'admin'
    a#mobile-only(href='/dashboard-arrived' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;")
      div Admin Pannel

nav#mobile-only(style="overflow:hidden;")
  hr
  .hidden-search(style='margin: 1rem; font-size: 2.2rem')
    .content-border
      input#search(type='text' name='search')
      div(style="with: 12px") 
        button.button(style='cursor: pointer; height: 100%; width: fit-content; padding: 0 .5rem 0 .5rem;')
          i.bi.bi-search

<div class="extracting-design" style="display:none; justify-content: center;" >
  div(style="background-color:#ccd3cc; padding: .5rem 10%; border-radius: 1.2rem; position:absolute;top:0;" )
    <p> please wait we're extracting your designs....</p>
</div>

script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js") 