.sidebar.pe-4.pb-3
  nav.navbar.bg-light.navbar-light
    .navbar-nav.w-100
      br
      br
      a.nav-item.nav-link.product.active(href='dashboard-arrived')
        i.fa.fa-tachometer-alt.me-2
        | Order Arrived
      a.nav-item.nav-link.order(href='dashboard-done')
        i.fa.fa-th.me-2
        | Order Sent
      a.nav-item.nav-link.order(href='dashboard-price')
        i.me-2(style='font-weight:bolder;') रु‎
        | Change Price
      a.nav-item.nav-link.order(href='dashboard-referralActivate')
        i.me-2(style='font-weight:bolder;') रु‎
        | Referral
