extends dashbase

block contentDash
    style.
        label{
            margin:0 .2rem;
        }

        //- 430
        table{
            width: 25%;
        }

        @media (min-width: 430px){
            table{
                width: 100%;
            }   
        }
    .content
        // Sale & Revenue Start
        .container-fluid.pt-4.px-4
            button#add-tshirt(style="background:blue; color: white; padding: .5rem; border: none;") Add Tshirt
            div#add-tshirt-form.d-none.my-2(style="width:fit-content;")
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="name" class="my-2">
                        <span> Name: </span>
                        <br/>
                        <input type="text" id="name" name="name" required><br>
                    </label>
                    <br>
                    <label for="image" class="my-2">
                        <span> image: </span>
                        <br/>
                        <input type="file" id="image" name="image" accept="image/png, image/jpeg" required>
                    </label>
                    <br>
                    <label class="my-2"> 
                        <button type="submit" class="send-of-order" style="background-color: #ff3f6c; color: white; border: none; padding: 10px 20px; cursor: pointer;">Submit</button>
                    </label>
                </form>

            .container-fluid
                table
                    thead
                        tr 
                            th S.N
                            th Material
                            th Price
                            th Change

                    tbody
                        each product, i in changePrice
                            tr
                                td= i+1 + "."
                                td= product.type
                                td
                                    input.no-of-order#price-no(type="number" value=`${product.price}`)
                                td 
                                    button.send-of-order#save-price(value=`${product._id}`) Save Price

    script(src="../js/jquery-latest.js")
    script.
        //- add tshirt into form
        const form = $('#add-tshirt-form')[0];
        $('#add-tshirt')[0].addEventListener("click", () => {
            if (form.classList.contains("d-block")) {
                $('#add-tshirt')[0].style.backgroundColor = "blue";
                $('#add-tshirt')[0].innerText = "Add Tshirt";
                $('#add-tshirt-form')[0].classList.add("d-none");
                $('#add-tshirt-form')[0].classList.remove("d-block");
            } else {
                $('#add-tshirt')[0].style.backgroundColor = "red";
                $('#add-tshirt')[0].innerText = "close";
                $('#add-tshirt-form')[0].classList.add("d-block");
                $('#add-tshirt-form')[0].classList.remove("d-none");
            }
        });
