body.row
    .sidebar.col-md-2
        a(href="/account/products")
            i.fas.fa-box
            |  Products
        a(href="/account/orders")
            i.fas.fa-shopping-cart
            |  Orders
        a(href="/account/payout")
            i.fas.fa-money-bill-wave
            |  Payout
        a(href="/account/refer")
            i.fas.fa-share-alt
            |  Refer
        a(href="/account/support")
            i.fas.fa-life-ring
            |  Support
        a(href="/account/settings")
            i.fas.fa-cog
            |  Settings
