style.
    .admin-pannel-navbar{
        display: flex;
        justify-content: right;
        align-items: center;
        height: 4rem;
        padding: 0 3rem;
    }

    .admin-pannel-navbar div{
        margin-left: 1rem;
    }



section.admin-pannel-navbar
    div 
        a(href="dashboard-arrived" style="color:#ff3f6c") Order Recived 
    div 
        a(href="dashboard-dispatched" style="color:#ff3f6c") Order Dispatched
    div
        a(href='dashboard-price' style="color:#ff3f6c") Cloth Material Price
    div 
        a(href='dashboard-show-users' style="color:#ff3f6c") Appoint Admin
    div 
        a(href='dashboard-database-clear' style="color:#ff3f6c") clear database


