link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')

header
  style.
    a{
      text-decoration:none;
    }
    .desktop-navBar, .nav-items, .mobile-navBar{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav-items div{
      margin: 0 .75rem;
    }

    .mobile-nav {
      z-index: 999;
    }

    .menu-btn {
      display: block;
      padding: 10px;
      cursor: pointer;
      width: fit-content;
    }

    .menu-icon{
      position: relative;
      z-index: 50;
      width: fit-content;
    }

    .nav-links {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      transition: left 0.3s ease;
    }

    .nav-links *{
      color: #FF3F6C;
    }

    .mobile-nav-container, .mobile-navBar {
      dispay: none ;
    }

    @media (min-width: 732px){

      .nav-links {
        position: absolute;
        top: 0;
        left: -100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #222;
        transition: left 0.3s ease;
      }
    }

    @media (max-width: 820px){
      .mobile-navBar {
        display: flex;
      }

      .nav-links{
        padding-top: 3rem;

      }
      .desktop-navBar{
        display: none; 
      } 
    }
    .content-border{
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    @media (min-width: 821px) and (max-width: 2560px){
      .mobile-navBar {
        display: none;
      }

      .desktop-navBar{
        display: flex; 
      } 
    }

    .menu-icon i{
      width: fit-content;
    }
    .nav-links.show {
      left: 0;
    }

    .nav-links div a , 
    .nav-links div h5{
      display: block;
      padding: 15px 20px;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;
    }

    div a i{
      margin-right: 25px;
    }




  .nav.mobile-navBar(style="padding: .5rem 0;")
    div(style="margin: 0 .75rem; cursor: pointer;")
      .logo(style="display:flex; align-items:center")
        //- img(src='images/logo.jpg' width='10%' alt='' onclick="window.location.assign(`/`)" style="cursor: pointer;")
        a(href="/" style="color:rgb(255, 63, 108);")
          h1 Kalakar

    if user
      div#logout.Logout(style="width: 40%; cursor: pointer; text-align: center; color:#ff3f6c; backgroundColor: #f3f6f9;" onclick="logout()") Log Out
    else 
      div
        a(href='/login' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;") Login 

    .mobile-nav
      .menu-btn
        .menu-icon
          i.fa-solid.fa-bars
      .nav-links
        div
          a(href="/") 
            <i class="fa-solid fa-house"></i>
            span Home
        div
          a(href="/design") 
            <i class="fa-solid fa-pen-nib"></i>
            span Design

        div
          h5 Admin Pannel
        div
          a(href="/account/products")
              i.fas.fa-box
              |  Products
        div          
          a(href="/account/orders")
              i.fas.fa-shopping-cart
              |  Orders
        //- div          
        //-   a(href="/account/storefront")
        //-       i.fas.fa-store
        //-       |  Storefront
        //- div          
        //-   a(href="/account/coupons")
        //-       i.fas.fa-tags
        //-       |  Coupons
        //- div
        //-   a(href="/account/marketing")
        //-       i.fas.fa-chart-bar
        //-       |  Marketing
        div         
          a(href="/account/payout")
              i.fas.fa-money-bill-wave
              |  Payout
        div          
          a(href="/account/refer")
              i.fas.fa-share-alt
              |  Refer
        div          
          a(href="/account/support")
              i.fas.fa-life-ring
              |  Support
        div          
          a(href="/account/settings")
              i.fas.fa-cog
              |  Settings

        if user
          if user.role === "admin" || user.role === "sub-admin"
            div
              h5 Admin Pannel
            div
              a(href="/admin/dashboard_products")
                <i class="fa-solid fa-phone"></i>
                span Order Received
            div
              a(href="/admin/dashboard-dispatched") 
                <i class="fa-solid fa-truck"></i>
                span Order Dispatched
            div
              a(href="/admin/dashboard-material-type") 
                <i class="fa-solid fa-shirt"></i>
                span Cloth Type

            div
              a(href="/admin/dashboard-fabric") 
                <i class="fa-solid fa-table-cells"></i>
                span Cloth Fabric
            div
              a(href="/admin/dashboard-show-users")
                <i class="fa-solid fa-user"></i>
                span Appoint Admin
            div
              a(href="/admin/dashboard-database-clear") 
                <i class="fa-solid fa-trash"></i>
                span Clear Database


  //- desktop only nav bar
  .nav.desktop-navBar(style="padding: .5rem 0;")
    div(style="margin: 0 .75rem; cursor: pointer;")
      .logo(style="display:flex; align-items:center")
        //- img(src='images/logo.jpg' width='10%' alt='' onclick="window.location.assign(`/`)" style="cursor: pointer;")
        a(href="/" style="color:rgb(255, 63, 108);")
          h1 Kalakar

    div.nav-items
      div
        a(href="/account/products" style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;") Account
      if user
        if user.role === 'admin' || user.role === "sub-admin"
          div
            a#for-admin-only(href='/admin/dashboard_products' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;") Admin Pannel

      .content-border
        input#search(type='text' name='search' placeholder='search' style='outline: none; border: transparent; padding-left: 1rem;')
        button#search-button.button(style='cursor: pointer; border: transparent; background: transparent; height: 100%; width: fit-content; padding: 0 .5rem 0 .5rem;')
          i.bi.bi-search

      div
        a(href='/design' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif;") Design

      if user
        .account.display-logout-btn
          a#loged-in(style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;")= user.name
        div#logout.Logout(style="cursor: pointer; text-align: center; color:#ff3f6c; backgroundColor: #f3f6f9;" onclick="logout()") Log Out
      else 
        div
          a(href='/login' style="color:#ff3f6c; font-family: 'Montserrat', sans-serif; cursor: pointer; text-transform: capitalize;") Login 


      div(style="display: flex; align-items: center;" )
        a.add-cart(href='/ordered-list')
          div(class="bulb" style="border-radius: 5rem; margin-right:1rem;")
            i.bi.bi-bag

script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js")
script(src="../js/jquery-latest.js")


script.
  const menuBtn = document.querySelector(".menu-btn");
  const navLinks = document.querySelector(".nav-links");
  document.addEventListener("DOMContentLoaded", function() {
    menuBtn.addEventListener("click", (el) => {    
      //- if(navLinks.classList.contains("show")){
      //-   menuBtn.style.color = "black";
      //- }else if(!(navLinks.classList.contains("show"))){
      //-   menuBtn.style.color = "white";
      //- }

      navLinks.classList.toggle("show");

    });
  });
