extends base

block content
    style.
        #verifyCode, #changePassword{
            display: none;
        }

        .user-not-found{
            font-size: 13px;
        }

    .form-bg.form-color-primary(style="flex-direction: column")
        #insertEmail.form-card
            h2.form-heading Forget Password
            .form-body
                form
                    .css-form-control
                        .form-control-icon
                            i.fa-solid.fa-envelope
                        input.form-input-text(type='email' id='forget-psw-email' name='email' placeholder='Email' required)
                    .incorrect-password(style="color: red; display: none; padding-left: 1.2rem;")
                        p.user-not-found User Not Found
                    .css-form-control
                        div.btn-form-submit.btn-success#inserted-email send verification code
        
        #verifyCode.form-card
            h2.form-heading Verify Code
            h4.form-heading(style="font-size: 15px;") Verification Code Send To Mail
            .form-body
                form
                    .css-form-control
                        .form-control-icon
                            i.fa-solid.fa-envelope
                        input.form-input-text.verification-email(type='number' id='verification-code' name='number' placeholder='156163' required)
                    .incorrect-password(style="color: red; display: none; padding-left: 1.2rem;")
                        p.wrong-verification-code Wrong Verification Code
                    .css-form-control
                        div.btn-form-submit.btn-success#verification-submit-btn verify

        #changePassword.form-card
            h2.form-heading Change Password
            .form-body
                form
                    .css-form-control
                        .form-control-icon
                            i.fa-solid.fa-lock
                        input.form-input-text.login-password(type='password' id='new-password' name='password' placeholder='New Password' required)
                        
                    .css-form-control
                        .form-control-icon
                            i.fa-solid.fa-lock
                        input.form-input-text.login-password(type='password' id='retype-password' name='password' placeholder='Re-type New Password' required)
                        
                        
                    .css-form-control
                        .form-control-icon
                            i.fa-solid.fa-lock
                        input.form-input-text.login-password(type='password' id='confirm-password' name='password' placeholder='Confirm Password' required)
                    
                    .incorrect-password(style="color: red; display: none; padding-left: 1.2rem;")
                        p Password Does Not Match
                    .css-form-control
                        div.btn-form-submit.btn-success#changeBtn Change

    script(src="../js/ForgetPassword.js") 